.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.conteudo-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 20px;
}

.conteudo-descricao > h2 {
    text-transform: uppercase;
}

.conteudo-descricao p {
    max-width: 35ch;
}

.conteudo-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    align-items: start;
    padding: 0 10px;
}

.conteudo-imagem {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    position: relative;
}

.conteudo-imagem img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    transition: .5s;
}

.conteudo-imagem img:hover {
    transform: scale(1.1);
}

.conteudo-imagem h2 {
    grid-column: 1;
}

.conteudo-imagem span {
    grid-column: 2;
    grid-row: 1;
    position: absolute;
    writing-mode:vertical-lr;
    text-transform: uppercase;
    cursor:default;
}

.conteudo-galeria .conteudo-imagem:nth-child(3n + 2) {
    margin-top: 40px;
}

footer p {
    text-align: center;
    font: var(--font-copy);
    padding: 20px;
}

footer a:hover {
    color: #7739b1;
}

@media (max-width:650px) {
    .conteudo-title {
        flex-direction: column;
    }

    .conteudo-galeria {
        grid-template-columns: 1fr 1fr;
    }

    .conteudo-galeria .conteudo-imagem:nth-child(3n + 2) {
        margin-top: 0px;
    }

    .conteudo-galeria .conteudo-imagem:nth-child(2n + 2) {
        margin-top: 40px;
    }
}

@media (max-width:400px) {
    .conteudo-galeria {
        gap: 30px;
    }
}
